.sidebar {
    flex: 1;
    /*height: calc(100vh - 50px);*/
    height: 100%;
    position: sticky;
    top: 50px;
    background-image: url('./sidebar-img.jpeg');
    background-size: cover;
    color: white;
}

#myInput {
    /* background-image: url('../../searchIcon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;*/
    width: 100%;
    font-size: 20px;
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 12px;
}

.sidebarWrapper {
    flex: 1;
    height: 180vh; 
    /* height: calc(100vh - 70px); */
    background-color: rgba(200, 46, 46, 0.9);
    /* background-color: rgba(200, 46, 46, 0.8); */
    padding: 10px;
    color: white;
    position: sticky; 
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 13px;
    color: thistle;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.searchBar {
    padding-right: 10px;
    padding-left: 8px;
    margin-top: 5px;
}

.searchButton {
    width: 60%;
    font-size: 20px;
    padding: 3px 5px 3px 5px;
    border: none;
    margin-bottom: 12px;
    background-color: rgb(4, 124, 68);
    color: white;
    display: flex;
    /* align-content: center;
    align-items: center;*/
    justify-content: center;
    border-radius: 10px;
    margin-left: 3%;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover {
    background-color: violet;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}